// NEW

.template-theming-controlpanel {
    padding: (@line-height-computed + 3);
}


.container {
    border: 0px solid red;
    max-width: 849px;
    padding: (@line-height-computed / 2);
}

.label:empty {
    display: inline !important;
}


.logo {
    margin: @line-height-computed auto 0 auto;
    width: 158px;
    display: block;
    overflow: hidden;

    img {
    padding: @line-height-computed 0;
    }
}


// NAV

.navbar-nav {
    margin: 0 auto;
    border: 1px solid red !important;
}

#main-nav {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0px solid red !important;
    display: inline-block;
    width: 100%;
    padding-left: @line-height-computed;


    li {
        font-size: @font-size-base;
        list-style: none;
        padding-right: @line-height-computed * 1.2 !important;
        width: 100% !important;



        /* Small devices (tablets, 768px and up) */
        @media (min-width: @screen-sm-min) {
            font-size:(@font-size-base / 1.5);
            display: inline;
            text-align: center;
        }

        a {
            -webkit-transition:color 0.5s ease-in;  
            -moz-transition:color 0.5s ease-in;  
            -o-transition:color 0.5s ease-in;  
            transition:color 0.5s ease-in;
            text-transform: uppercase;
            color: @gray;
        }
    }

}


//EDIT BAR

#edit-bar {
    display: inline-block;
    padding: @line-height-computed / 2;
    width: 100%;
    background: @brand-primary;
    font-size: @font-size-small;
    margin-bottom: @line-height-computed / 2;
    border: 0px;
    border-radius: @border-radius-base;

  #content-views {
    padding: 0;
    background: @brand-primary;
  }
  
  #contentActionMenus {
    padding: @line-height-computed / 2;
    background: @brand-primary;

    a {
        background: transparent;
    }
  }

  .actionMenuContent {
    background: @brand-primary !important;
    border-bottom: 0.5em solid @brand-primary !important;
  }
}


#nextBtn a {
    background: url(../images/right.png) no-repeat scroll 0 0 transparent !important;
}
#prevBtn a {
    background: url(../images/left.png) no-repeat scroll 0 0 transparent !important;
}

#slider-container {
    border: 0px solid red !important;
}


.template-folder_listing #content {
    display: none;
    }



.carousel-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
    

    .item {
        height: 600px;
    }
}

.carousel-control {
    bottom: 0;
    color: #FFFFFF;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 15%;
    vertical-align: center;
    position: absolute;
}

.carousel-control.right {
    background-image: none;
    left: auto;
    right: 0;
    border: 0px solid red;
    top: 50% !important;
    bottom: 50%;
}

.carousel-control.left {
    background-image: none;
    top: 50% !important;
    bottom: 50%;
}

//FOOTER

.app-footer {
    text-transform: uppercase;
    font-size: (@font-size-base / 1.7);
    text-align: center;
}


