// NEW

.template-theming-controlpanel {
    padding: (@line-height-computed + 3);
}


.container {
    border: 0px solid red;
    max-width: 960px;
}

.label:empty {
    display: inline !important;
}

a {
    outline: none !important;
}


.logo {
    margin: (@line-height-computed) auto 0 auto;
    width: 200px;
    display: block;
    overflow: hidden;

    img {
    padding: 0;
    }
}


// NAV

.navbar {
    margin: 10px auto 10px auto;

    /* Small devices (tablets, 768px and up) */
        @media (min-width: @screen-sm-min) {
            border: 0px;
        }
}

.navbar-default {
    background: transparent !important;
}

#main-nav {
    background: transparent;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;

    @media (min-width: @screen-sm-min) {
            padding-left: (@line-height-computed * 6);
        }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
        padding-left: (@line-height-computed * 10);
        }


    li {
        font-size: @font-size-base;
        font-size:(@font-size-base * 1.5);
        list-style-type: none;



        /* Small devices (tablets, 768px and up) */
        @media (min-width: @screen-sm-min) {
            font-size:(@font-size-base * 1.9);
            display: inline;
            text-align: center;
            background: url(../images/dot.png) 0px 25px no-repeat transparent;
        }

        a {
            -webkit-transition:color 0.5s ease-in;  
            -moz-transition:color 0.5s ease-in;  
            -o-transition:color 0.5s ease-in;  
            transition:color 0.5s ease-in;
            color: @gray;
            padding-right: 10px;
        }
    }

    #portaltab-index_html {
        background: transparent !important;
    }

}


//EDIT BAR

#edit-bar {
    display: inline-block;
    padding: @line-height-computed / 2;
    width: 100%;
    background: @brand-primary;
    font-size: @font-size-small;
    margin-bottom: @line-height-computed / 2;
    border: 0px;
    border-radius: @border-radius-base;

  #content-views {
    padding: 0;
    background: @brand-primary;
  }
  
  #contentActionMenus {
    padding: @line-height-computed / 2;
    background: @brand-primary;

    a {
        background: transparent;
    }
  }

  .actionMenuContent {
    background: @brand-primary !important;
    border-bottom: 0.5em solid @brand-primary !important;
  }
}


#nextBtn a {
    background: url(../images/right.png) no-repeat scroll 0 0 transparent !important;
}
#prevBtn a {
    background: url(../images/left.png) no-repeat scroll 0 0 transparent !important;
}

#slider-container {
    border: 0px solid red !important;
}


.template-folder_listing #content {
    display: none;
    }



.carousel-inner {
    
    .item {
        background-size: contain !important;
    }
}

.carousel-control {
    bottom: 0;
    color: #FFFFFF;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 15%;
    vertical-align: center;
    position: absolute;
}

.carousel-control.right {
    background-image: none;
    left: auto;
    right: 0;
    border: 0px solid red;
    top: 50% !important;
    bottom: 50%;
}

.carousel-control.left {
    background-image: none;
    top: 50% !important;
    bottom: 50%;
}


//CONTENT

.documentFirstHeading {
    display: none;
}

.image-left {
    border: 0 !important;
    padding-top: 0 !important;
    display: block;
    max-width: 100%;
}

.back {
    margin-top: (-@line-height-computed * 1.5);
    text-transform: uppercase;
    background: white;
}

.portaltype-plone-site .back {
    display: none;
}

.carouselText1 {
    padding-top: (@line-height-computed * 15) !important;

    /* Small devices (tablets, 768px and up) */
        @media (min-width: @screen-sm-min) {
            padding-top: (@line-height-computed * 29) !important;
        }
}


//FOOTER

.app-footer {
    font-size: (@font-size-base / 1.5);
    text-align: center;
    margin-top: (@line-height-computed / 2);
    margin-bottom: (@line-height-computed / 2);
    text-transform: uppercase;
}


